page-home {
	img{
		height:85px;margin-left: auto;
    	margin-right: auto;
    	display: block;
	}
}

.modal{
	width:75%;
	margin: auto;
	margin-top:55px;
	background-color: #FFF3E0;
	border-radius:20px;
}

.cont{
	height:100%;
	//background-color:rgba(25,25,25,0.2)
}