.text{
	margin-top: 0px;
	padding-left: 20px;
	padding-right: 15px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.text2{
    padding-left: 20px;
	padding-right: 15px;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:15px;
	margin-top:0px;
}

.product{
	margin-bottom:5px;
	margin-top:5px;
}

.modalInfo{
	width:85%;
	height:70%;
	left:0px;
	right:0px;
	margin:auto;
	margin-top:15%;
	background-color: #FFF3E0;
	border-radius:20px;
	position: absolute;
}